@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-color: #0d2436;
  height: 100vh;
  width: 100vw;
}

.img1 {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 60px;
  width: 150px;
}

.iconcard {
  border-radius: 70px;
  height: 40px;
  width: 40px;
  background-color: #152c3e;
  color: #5a7184;
  margin: 8px;
  font-size: 18px;
}

.cicon {
  font-size: 18px;
  color: #5a7184;
}

.card2 {
  margin-top: 25px;
}

.h1 {
  font-size: 14px;
  color: grey;
  margin-top: 10px;
  font-weight: 400;
}

.h2 {
  font-size: 15px;
  color: #5a7184;
  font-weight: bold;
  margin-bottom: 13px;
}

.p1 {
  font-size: 15px;
  color: #5a7184;
  margin-bottom: 7px;
}
